@page "/newuser"
@rendermode InteractiveServer
@using BlazorLabb.Models
@using BlazorLabb.Components.Pages.Components

<PageTitle>New User</PageTitle>

<h1>Add New User</h1>

@if (!_newUserSaved)
{
    <NewUserForm UserModel="_newUser" NewUserSaved="HandleSubmit" />
}
else
{
    <p style="color: green">You have saved the following user:</p>

    <ul>
        <DisplayUser UserModel="_newUser"/>
    </ul>
}

@code {
    private User _newUser = new User();
    private bool _newUserSaved = false;

    private void HandleSubmit()
    {
        _newUserSaved = true;
    }
}
