@page "/newuser"
@rendermode InteractiveServer
@using BlazorLabb.Models
@using BlazorLabb.Components.Pages.Components
@using BlazorLabb.Services
@inject GenerateUsers generateUsers
@inject NavigationManager Navigation

<PageTitle>New User</PageTitle>

<h1>Add New User</h1>

@if (!_newUserSaved)
{
    <NewUserForm UserModel="_newUser" NewUserSaved="HandleSubmit" />
}
else
{
    <p style="color: green">You have saved the following user:</p>

    <ul class="userDisplayContainer">
        <DisplayUser UserModel="_newUser"/>
    </ul>
}

@code {
    private User _newUser = new User();
    private bool _newUserSaved = false;

    private void HandleSubmit()
    {
        generateUsers.AddNewUser(_newUser);
        _newUserSaved = true;
    }
}
