.sortButtonAscending {
    color: red;
    text-decoration: overline;
    font-weight: bold;
}

.sortButtonDescending {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.showSearchContainer > .showAll {
    color: red;
    text-decoration: line-through;
}