.sortSearchContainer > .sortButtonAscending {
    border-top: 1px solid red;
    margin-top: -1px;
}

.sortSearchContainer > .sortButtonDescending {
    border-bottom: 1px solid red;
    margin-bottom: -1px;
}

.sortSearchContainer > .showAll {
    color: red;
    text-decoration: line-through;
}